$light-blue: #F3F5F9;
$blue-100: #DCE4EF;
$blue-200: #A6B2C9;
$blue-300: #8690A4;
$blue-400: #6E7B93;
$blue-500: #4E5E7C;
$blue-600: #1E2330;

// Text color
$body-color:$blue-600;

// Background color
$bg-dark: $blue-500;
$bg-medium: $blue-200;
$bg-medium-dark: $blue-300;
$bg-light: $light-blue;
$bg-medium-light: $blue-100;

$border-radius: .25rem;

// Nav
$navbar-padding-y: 0;
$nav-link-padding-y: 1.4rem;
$navbar-brand-padding-y: 0;

$btn-border-radius: $border-radius * 2;
$btn-font-size: .8rem;
$spacer: 1rem;
$spacers: (6: ($spacer * 5), 7:($spacer * 7), 6m: ($spacer * 6));
$theme-colors: ("primary": $blue-600,
    "secondary":$light-blue,
    "info": $blue-200,
    "light": $light-blue,
);

$carousel-indicator-width: 80px;
$carousel-indicator-height: 7px;
$carousel-indicator-spacer: 5px;
$carousel-indicator-active-bg: $light-blue;

$font-size-base: 1rem;
$font-size-lg: $font-size-base * 0.9;
$input-btn-padding-y-lg: .7rem;
$input-btn-padding-x-lg: 2rem;
$input-btn-font-size-lg: $font-size-lg;

$h6-font-size: $font-size-base * 0.85;
$h7-font-size: $font-size-base * 0.6;

$navbar-padding-x: 0;

// Badge
$badge-padding-y: .6em;
$badge-padding-x: .7em;

// Cards
$card-spacer-x: 2.25rem;
$card-bg:$bg-light;
$card-border-radius: 0;

// Forms
$input-border-radius-lg: 0;
$input-border-width: 2px;

//Dropdown menu
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-min-width: 12rem;
$dropdown-padding-y: 1rem;
$dropdown-item-padding-y: .5rem;

//Sizes
$sizes: (20: 20%);

//Global options
$enable-caret: false;
$enable-shadows: true;

// Modal 
$modal-lg: 730px;