///////Home Page (main)
.carousel .carousel-item {
    height: 550px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 550px;
    max-height: 550px;
}

.carousel-indicators {
    left: auto;
    right: 0;
    justify-content: end;
    margin-right: 2%;

    li {
        background-color: $light-blue;
        opacity: 1;
        border-top: 0;
        border-bottom: 0;
    }

    .active {
        background: $blue-500;
    }
}

.hero-wrap {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    height: 550px;
}

.catergory {
    height: 540px;
    background: $blue-100;
    background-image: url("../assets/image/img1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;

    h3 {
        @include break-max(992px) {
            font-size: $font-size-base * 1.45;
        }
    }

    &:hover {
        text-decoration: none;
    }

    .catergory-text {
        padding-top: 400px;
    }
}

.twitch-wrap {
    @extend .catergory;
    background-image: url("../assets/image/img2.png");

    @include break-max(992px) {
        background-position: top right;
    }

    @include break-max(576px) {
        h2 {
            font-size: $font-size-base * 1.45;
        }
    }
}

footer {
    background: $blue-500;

    & * {
        color: $light-blue;
    }

    ul {
        line-height: 2rem;

        li {
            margin-right: 1rem;
        }
    }

    .social-media a {
        font-size: 2rem;

        i:hover {
            color: $blue-600;
        }
    }

    .extra-info {
        font-size: $h7-font-size;
    }

    hr {
        @include break-max(576px) {
            width: 85%;
            background: $light-blue;
        }
    }
}

////// About Page
.header {
    @include bg-image("../assets/image/1-1.svg", 400px);

    h1 {
        padding-top: 18rem;
        letter-spacing: 0.2rem;
    }
}

.about section:nth-of-type(2) {
    background: $bg-dark;
    @include set-text-color($bg-dark);

    .about-image {
        @include bg-image("../assets/image/1-2.svg");
        height: 290px;
    }
}

.about section:nth-of-type(3) {
    background: $bg-light;
    @include set-text-color($bg-light);

    .about-image {
        @include bg-image("../assets/image/1-3.svg");
        height: 290px;
    }
}

.about section:nth-of-type(4) {
    @include bg-image("../assets/image/1-4.svg");
}

////// Streaming Page
.live-streaming header {
    @include bg-image("../assets/image/1-1.svg");
    height: 400px;

    .header-wrap {
        min-height: 100%;
        position: relative;

        .header-text-wrap {
            position: absolute;
            bottom: 3rem;
        }

        h1,
        p {
            letter-spacing: 0.2rem;
        }
    }
}

.live-streaming section:nth-of-type(1) {
    .container {
        background: $bg-light;
    }

    h2 {
        letter-spacing: .2rem;
    }

    .stream-home-img-2 {
        @include bg-image("../assets/image/1-3.svg", auto);

        @include break-max(768px) {
            height: 230px;
        }
    }
}

.live-streaming section:nth-of-type(2) {
    .container {
        background: $bg-light;
    }

    h2 {
        letter-spacing: .2rem;
    }

    .stream-home-img-2 {
        height: 290px;
        @include bg-image("../assets/image/1-3.svg", auto);

        @include break-max(768px) {
            height: 230px;
        }
    }
}

.live-streaming section:nth-of-type(3) {
    @include break-max(576px) {
        h3 {
            font-size: $font-size-base * 1.3;
        }

        p {
            font-size: $font-size-base * 1;
        }
    }

    @include break-min-max(576px, 992px) {
        h3 {
            font-size: $font-size-base * 1.55;
        }

        p {
            font-size: $font-size-base * 1.15;
        }
    }

    .stream-home-img-3 {
        @include bg-image("../assets/image/2-4.svg");
    }
}

.live-streaming section:nth-of-type(4) {
    .row {
        background: $bg-light;
    }

    .stream-home-img-4 {
        @include bg-image("../assets/image/2-4.svg", 230px);
    }
}

////// Streaming Service Page
.live-streaming-service {
    header {
        @include bg-image("../assets/image/1-1.svg", 400px);
        @include header-text();
    }
}

.live-streaming-service section:nth-of-type(1),
.live-streaming-service section:nth-of-type(2),
.live-streaming-service section:nth-of-type(3) {
    .col-lg-4 {
        background: $bg-dark;
        height: 330px;

        @include break-max(576px) {
            height: 400px;

            h3 {
                font-size: $font-size-base * 1.45;
            }
        }

        .wrap {
            width: 85%;
            @include set-text-color($bg-dark);
        }
    }

    .col-lg-8 {
        background: $bg-light;
    }
}

.card {
    border: none;
}

.live-streaming-service section:nth-of-type(5) {
    .row {
        background: $bg-light;

        .stream-home-img-4 {
            @include bg-image("../assets/image/2-4.svg", 230px);
        }
    }
}

////// Streaming About Page
.live-streaming-about {
    header {
        @include bg-image("../assets/image/1-1.svg", 400px);
        @include header-text();
    }
}

.live-streaming-about section:nth-of-type(2) {
    background: $bg-light;

    .container {
        .stream-service-img-1 {
            height: 540px;
            background: $blue-100;
            @include bg-image("../assets/image/2b-2.svg");

            .text-wrap {
                width: 80%;
                bottom: 2.25rem;
            }
        }
    }
}

.live-streaming-about section:nth-of-type(3) {
    .row {
        background: $bg-light;

        .stream-home-img-4 {
            @include bg-image("../assets/image/2-4.svg", 230px);
        }
    }
}

////// Streaming Work Page
.live-streaming-work {
    header {
        @include bg-image("../assets/image/1-1.svg", 400px);
        @include header-text();
    }
}

.live-streaming-work section:nth-of-type(1),
.live-streaming-work section:nth-of-type(2) {
    .video-card {
        @include video-card();
    }
}

.live-streaming-work section:nth-of-type(3) {
    .row {
        background: $bg-light;

        .stream-home-img-4 {
            @include bg-image("../assets/image/2-4.svg", 230px);
        }
    }
}



////// Streaming Inquiry Page
.live-streaming-inquiry {
    header {
        @include bg-image("../assets/image/1-1.svg", 400px);
        @include header-text();
    }
}

.live-streaming-inquiry section:nth-of-type(1) {
    h4 {
        @include rfs(1.25rem);
    }

    address,
    dl {
        @include rfs(1rem);
    }

    dt,
    dd {
        margin-bottom: 0;
    }
}

////// Education Homepage
.education {
    header {
        @include bg-image("../assets/image/1-1.svg", 400px);
        @include header-text();
    }
}

.education section:nth-of-type(2),
.education section:nth-of-type(3) {
    .row {
        background: $bg-light;

        .col-md-5 {
            height: 420px;

            h3 {
                padding-top: 7rem;

                & {
                    @include break-max(992px) {
                        padding-top: 5rem;
                    }
                }
            }
        }

        .edu-img {
            @include bg-image("../assets/image/3-2.svg", 420px);

            @include break-max(576px) {
                height: 350px;
            }
        }
    }
}

// Header style
#header-wrap {
    header {
        @include bg-image("../assets/image/1-1.svg", 400px);
        @include header-text();
    }
}

////// Education Partner Info Page
.education-partner-info section:nth-of-type(2) {
    .top {
        .container {
            background: $bg-light;
        }
    }

}

////// Education Tutorial Page
.education-tutorial section:nth-of-type(1) {
    .card {
        h5 {
            color: $blue-500;
        }

        p {
            font-size: .85rem;
        }
    }
}

////// League
.league header {
    @include bg-image("../assets/image/4-1.svg", 400px);
}

.league section:nth-of-type(1) {
    .container {
        h2 {
            color: $blue-500;
        }
    }
}

.league section:nth-of-type(2) {
    .container {
        .league-menu {
            width: 100%;
            background: $bg-medium;
            @include bg-image("../assets/image/4-2.svg", 540px);
            position: relative;

            @include break-min-max(576px, 992px) {
                height: 400px;
            }

            h3 {
                line-height: 2.4rem;
                position: absolute;
                left: 2.2rem;
                bottom: 2rem;
            }
        }
    }
}

////// League About Page

// Slick carousel
#slick {
    background: $bg-dark;

    h2 {
        @include set-text-color($bg-dark);
    }

    .slider {
        width: 100%;

        .slick-slide {
            margin: 0px 15px;

            img {
                width: 100%;
            }
        }
    }

    .arrow {
        position: absolute;
        cursor: pointer;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .arrow-prev {
        @extend .arrow;
        left: -27px;

        @include break-min-max(576px, 992px) {
            left: -24px;
        }

        @include break-max(576px) {
            left: 0px;
        }
    }

    .arrow-next {
        @extend .arrow;
        right: -27px;

        @include break-min-max(576px, 992px) {
            right: -24px;
        }

        @include break-max(576px) {
            right: 0px;
        }
    }
}

// Locations
.league-about section:nth-of-type(3) {
    background: $bg-medium-dark;

    .container {
        .col-md-5 {
            .text-wrap {
                position: absolute;
                bottom: 0;
                @include set-text-color($bg-dark);

                @include break-max(992px) {
                    h2 {
                        font-size: 1.35rem;
                    }

                    p {
                        font-size: 1rem;
                    }
                }

                @include break-max(576px) {
                    position: static;
                }
            }
        }
    }
}

// Our uvas
.league-about section:nth-of-type(4) {
    h2 {
        color: $blue-500;
    }

    .league-about-img {
        @include bg-image("../assets/image/4d-6.svg", 388px);

        h2 {
            padding: 20rem 0 0 2rem;
        }
    }
}

////// League Watch Page
.league-watch section:nth-of-type(1) {
    .container {
        .video-card {
            @include video-card();
        }

        span {
            font-size: $font-size-sm;

            @include break-max(992px) {
                font-size: $font-size-base * 0.75;
            }
        }
    }
}

////// League Drone Page
.league-drone section:nth-of-type(1) {
    background: $bg-light;
}

.league-drone section:nth-of-type(2) {
    .container {
        .league-drone-bg-img {
            @include bg-image("../assets/image/4b-2.svg", 400px);

            .text-wrap {
                left: 2.9rem;
                bottom: 1.7rem;
            }
        }
    }
}

.league-drone section:nth-of-type(4) {
    .container {
        .league-drone-bg-img {
            @include bg-image("../assets/image/4b-6.svg", 400px);

            .text-wrap {
                left: 2.9rem;
                bottom: 1.7rem;
            }
        }
    }
}

////// League Pilot
.league-pilot section:nth-of-type(1) {
    .col-md-6 {
        .img-wrap {
            background: $bg-light;

            .league-pilot-img {
                &:hover {
                    text-decoration: none;
                }

                background-image: url(../assets/image/4c-2.svg);
                background-size: 234px;
                background-position: 90% 100%;
                background-repeat: no-repeat;
                height: 241px;
            }
        }
    }
}

////// League Profile
.league-profile {
    header {
        background: $bg-medium-light;

        .container {
            .pilot-profile-img {
                background-image: url(../assets/image/4c-2.svg);
                background-size: 397px;
                background-position: 24% 100%;
                background-repeat: no-repeat;
                height: 400px;

                @include break-max(576px) {
                    background-size: 287px;
                }

                .social-media {
                    font-size: $font-size-base * 1.8;
                }
            }
        }
    }

    & section:nth-of-type(1) {
        .container {
            .row {
                & .col-md-5:nth-of-type(2) {
                    padding-top: $spacer * 2.8;
                }
            }
        }
    }

    & section:nth-of-type(2) {
        .container {
            .video-card {
                @include video-card();
            }

            h2 {
                color: $blue-500;
            }
        }
    }

}