////// Global Class
.leading {
    letter-spacing: .2rem;
}

// Dropdown menu
.dropdown-menu {
    margin-top: 0;

    @include break-max(992px) {
        box-shadow: none !important;
        margin-top: -30px;

        .dropdown-item {
            font-weight: $font-weight-normal !important;
            padding: 0.5rem 3.5rem;
        }

    }

    .dropdown-item {
        font-weight: $font-weight-bold;
    }
}

//Button
button:focus {
    outline: 0;
}


//Background Overlay
.bg-overlay-show {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    background: #1e2330d6;
}

.no-scroll {
    overflow: hidden;
}