////// Global Class
body {
 background: $darker-blue;
}

.leading {
    letter-spacing: .2rem;
}

// Dropdown menu
.dropdown-menu {
    margin-top: 0;

    @include break-max(992px) {
        box-shadow: none !important;
        margin-top: -30px;

        .dropdown-item {
            font-weight: $font-weight-normal !important;
            padding: 0.5rem 3.5rem;
        }

    }

    .dropdown-item {
        font-weight: $font-weight-normal;
    }
}

//Button
button:focus {
    outline: 0;
}

.btn {
    border-radius: 0;
}

// Background Overlay
.bg-overlay-show {
    width: 100%;
    height: 100%;
    z-index: 888;
    position: fixed;
    background: #1e2330d6;
}

.no-scroll {
    overflow: hidden;
}

//Get In Touch Section
.get-in-touch {
    .row {
        background: $dark-blue;
        @include set-text-color($dark-blue);

        .stream-home-img-4 {
            @include break-max(767px) {
                width: 100%;
            }
        }

        img {
            width: 380px;

            @include break-max(991px) {
                width: 280px;
            }
        }
    }
}