@mixin set-text-color($bgColor) {
    @if lightness($bgColor)>50 {
        color: $blue-600;
    }

    @else {
        color: $light-blue;
    }
}

@mixin bg-image($src, $height: 400px) {
    background-image: url($src);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: $height;
}

@mixin header-text() {
    .header-wrap {
        min-height: 100%;
        position: relative;

        .header-text-wrap {
            position: absolute;
            bottom: 3rem;
        }

        h1,
        p {
            letter-spacing: 0.2rem;
        }
    }
}

@mixin break($length) {
    @media (min-width: $length) {
        @content;
    }
}

@mixin break-max($length) {
    @media (max-width: $length) {
        @content;
    }
}

@mixin break-min-max($minLength, $maxLength) {
     @media (min-width: $minLength) and (max-width: $maxLength) {
         @content;
     }
}

@mixin video-card() {
    text-decoration: none;

    .image {
        position: relative;

        .play-button {
            position: absolute;
            opacity: 0;
            transform: translate3d(0, 5px, 0);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            -webkit-transition: all .5s cubic-bezier(.23, 1, .32, 1);
            -o-transition: all .5s cubic-bezier(.23, 1, .32, 1);
            -moz-transition: all .5s cubic-bezier(.23, 1, .32, 1);
            -ms-transition: all .5s cubic-bezier(.23, 1, .32, 1);
            transition: all .5s cubic-bezier(.23, 1, .32, 1);
        }

        .video-play-button {
            position: absolute;
            top: 50%;
            left: 47.4%;
            transform: translate(-50%, -50%);
        }
    }

    &:hover .play-button {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    transform: $value;
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}