@mixin set-text-color($bgColor) {
    @if lightness($bgColor)>50 {
        color: $blue-600;
    }

    @else {
        color: $light-blue;
    }
}

@mixin bg-image($src, $height: 400px) {
    background-image: url($src);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: $height;
}

@mixin header-text() {
    .header-wrap {
        min-height: 100%;
        position: relative;

        .header-text-wrap {
            position: absolute;
            bottom: 3rem;
        }

        h1,
        p {
            letter-spacing: 0.2rem;
        }
    }
}