<!-- Footer -->
<div class="container pt-5 pb-2">
    <h3 class="col-12 text-center font-weight-bold pb-4 pt-4">
        <img src="../../assets/image/logo.svg" style="width: 220px;" alt="">
    </h3>
    <div class="row">
        <hr class="my-0">
        <div class="col-12 col-sm-6 py-5 py-sm-0">
            <h6 class="font-weight-bold pb-2 text-center text-sm-left">FOLLOW US</h6>
            <ul class="list-unstyled social-media d-flex justify-content-center justify-content-sm-start mb-0 mb-sm-3">
                <li><a class="" href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a class="" href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="" href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a class="" href="#"><i class="fab fa-twitch"></i></a></li>
            </ul>
        </div>
        <hr class="my-0">
        <div class="col-12 col-sm-6 text-center text-sm-right py-5 py-sm-0">
            <h6 class="font-weight-bold pb-2">REACH TO US</h6>
            <a href="#" class="btn btn-lg btn-primary"><span>CONTACT</span></a>
        </div>
        <hr class="my-0">
        <div class="col-12 d-flex justify-content-center font-weight-bold pt-4 pt-sm-0">
            <p class="extra-info mr-4">PRIVACY POLICY</p>
            <p class="extra-info">TERMS & CONDITIONS</p>
        </div>
    </div>
</div>