<!-- header -->
<header class="mb-6">
    <div class="trans-layer"></div>
    <div class="container header-wrap">
        <div class="row header-text-wrap mr-0">
            <div class="col-12 col-md-12 col-xl-9">
                <span class="badge badge-primary mb-2"></span>
                <h1 class="font-weight-bold text-white"></h1>
            </div>
            <div class="col-12 col-md-12 col-xl-7">
                <p class="font-weight-light text-white">Quis risus sed vulputate odio ut enim blandit.
                    Curabitur vitae nunc sed velit dignissim sodales vulputate nunc. </p>
            </div>
        </div>
    </div>
</header>