    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand font-weight-bold" href="../index.html">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto ml-6">
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">ABOUT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="myDropdown" href="#">LIVE
                            STREAMING</a>
                        <div class="dropdown-menu" aria-labelledby="myDropdown">
                            <a href="./stream.html" class="dropdown-item">HOME</a>
                            <a href="./stream_about.html" class="dropdown-item">ABOUT</a>
                            <a href="./stream_service.html" class="dropdown-item">SERVICE</a>
                            <a href="./stream_work.html" class="dropdown-item">WORK</a>
                            <a href="./stream_inquiry.html" class="dropdown-item">INQUIRY</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="eudDropdown"
                            href="#">EDUCATION</a>
                        <div class="dropdown-menu" aria-labelledby="eudDropdown">
                            <a href="./edu.html" class="dropdown-item">HOME</a>
                            <a href="./edu_partner.html" class="dropdown-item">PARTNER</a>
                            <a href="./edu_tutorial.html" class="dropdown-item">TUTORIAL</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                            id="leagueDropdown">LEAGUE</a>
                        <div class="dropdown-menu" aria-labelledby="leagueDropdown">
                            <a href="./league.html" class="dropdown-item">HOME</a>
                            <a href="./league_about.html" class="dropdown-item">ABOUT</a>
                            <a href="./league_watch.html" class="dropdown-item">WATCH</a>
                            <a href="./league_drone.html" class="dropdown-item">DRONE</a>
                            <a href="./league_pilot.html" class="dropdown-item">PILOT</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MARKETPLACE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">JOB</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <button class="btn btn-info my-2 my-sm-0 font-weight-bold" type="submit">CONTACT</button>
                </form>
            </div>
        </nav>
    </div>