<!-- Navbar -->
<div class="container-lg nav-container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand font-weight-bold" href="../index.html">
            <img src="../assets/image/logo.svg" alt="site logo" style="width: 66px;">
        </a>
        <button class="navbar-toggler second-button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto ml-lg-6">
                <li class="nav-item">
                    <a class="nav-link" href="./about.html">ABOUT</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex d-lg-block justify-content-between align-items-center"
                        data-toggle="dropdown" id="myDropdown" href="#">
                        <span>LIVE STREAMING</span>
                        <div class="dropdown-icon d-lg-none"></div>
                    </a>
                    <div class="dropdown-menu shadow" aria-labelledby="myDropdown">
                        <a href="./stream.html" class="dropdown-item">HOME</a>
                        <a href="./stream_about.html" class="dropdown-item">ABOUT</a>
                        <a href="./stream_service.html" class="dropdown-item">SERVICE</a>
                        <a href="./stream_work.html" class="dropdown-item">WORK</a>
                        <a href="./stream_inquiry.html" class="dropdown-item">INQUIRY</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex d-lg-block justify-content-between align-items-center"
                        data-toggle="dropdown" id="eudDropdown" href="#">
                        <span>EDUCATION</span>
                        <div class="dropdown-icon d-lg-none"></div>
                    </a>
                    <div class="dropdown-menu shadow" aria-labelledby="eudDropdown">
                        <a href="./edu.html" class="dropdown-item">HOME</a>
                        <a href="./edu_partner.html" class="dropdown-item">PARTNER</a>
                        <a href="./edu_tutorial.html" class="dropdown-item">TUTORIAL</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#"
                        class="nav-link dropdown-toggle d-flex d-lg-block justify-content-between align-items-center"
                        data-toggle="dropdown" id="leagueDropdown">
                        <span>LEAGUE</span>
                        <div class="dropdown-icon d-lg-none"></div>
                    </a>
                    <div class="dropdown-menu shadow" aria-labelledby="leagueDropdown">
                        <a href="./league.html" class="dropdown-item">HOME</a>
                        <a href="./league_about.html" class="dropdown-item">ABOUT</a>
                        <a href="./league_watch.html" class="dropdown-item">WATCH</a>
                        <a href="./league_drone.html" class="dropdown-item">DRONE</a>
                        <a href="./league_pilot.html" class="dropdown-item">PILOT</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MARKETPLACE</a>
                </li>
                <li class="nav-item border-bottom-0">
                    <a class="nav-link" href="#">JOB</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0 d-none d-lg-inline">
                <button class="btn btn-info my-2 my-sm-0" type="submit"><span>CONTACT</span></button>
            </form>
        </div>
    </nav>
</div> <!-- Navbar Ends-->
